<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="static/bootstrap.min.css" rel="stylesheet"/>
    <title>Smart Thermostat</title>
</head>
<body>

<div class="container">
  <div class="row">
    <h1>Smart Thermostat</h1>
        <h2>Humidity: <span id="humidity"></span></h2>
        <h2>Temperature: <span id="temperature"></span></h2>
        <h2>Desired Temperature: <span id="display-desired"></span></h2>
        <div class="col-sm">
            <div class="form-group">
                <input id="desired" class='form-control' type="range" value='21'
                       min='15' max='25' step="0.1" onChange="client.setDesired(this.value);">
            </div>
        </div>
    </div>
</div>

<script src="static/client.js"></script>
</body>
</html>
