<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Smart Thermostat</title>
    <style>
        #visualization {
            margin-top: .5em;
            height: 250px;
        }

        .large-display {
            font-size: 130%;
        }

        .big-arrow {
            font-size: 150%;
            font-weight: bold;
        }

        .slope {
            font-size: 90%;
        }

        #schedule-group, #zoom-group {
            margin-top: 0.7em;
            width: 20em;
        }

        #schedule {
            font-family: monospace;
        }

        .weather-img {
            margin-left: -.2em;
            margin-right: -.3em;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <h2>Smart Thermostat</h2>
    <div class="large-display">
        {{ weather_query }}:<span id="main_weather"></span> <span id="outside_temp"></span>°C
        <span class="slope">(<span id="outside_temp_change_slope"></span>/h)</span>,
        <span id="pressure"></span> hPa
        <span class="slope">(<span id="pressure_change_slope"></span>/h)</span>,
        <span id="outside_humidity"></span>%,
        Wind <span id="wind_dir"></span>° at <span id="wind_speed"></span><span id="gust"></span> k/h
    </div>
    <div class="large-display">Inside: <span id="inside_temp"></span>°C
        <span class="slope">(<span id="inside_temp_change_slope" class="slope"></span>/h)</span>,
        <span id="inside_humidity"></span>% humidity</div>
    <div class="large-display">Desired: <span id="desired_temp"></span>°C
        <button type="button" class="btn btn-primary" onclick="thermoClient.adjustTemp(1)"><span class="big-arrow">↑</span> 1°</button>
        <button type="button" class="btn btn-primary" onclick="thermoClient.adjustTemp(-1)"><span class="big-arrow">↓</span> 1°</button>
        <button type="button" class="btn btn-primary" onclick="thermoClient.adjustTemp(0.1)">↑ 0.1°</button>
        <button type="button" class="btn btn-primary" onclick="thermoClient.adjustTemp(-0.1)">↓ 0.1°</button>
        <label style="margin-left: .2em;"><input id='fan' type="checkbox" class="btn btn-primary"
               onclick="thermoClient.activateFan(document.querySelector('#fan').checked)"/>
        Fan</label>
        <label style="margin-left: .2em;"><input id='cool' type="checkbox" class="btn btn-primary"
               onclick="thermoClient.enableCool(document.querySelector('#cool').checked)"/>
        Cool</label>
    </div>
    <div>
        Show: 
        <label style="margin-left: .2em;">
            <input checked id='show-desired-temp' type="checkbox" class="btn btn-primary"
                onclick="thermoClient.showDesiredTemp(document.querySelector('#show-desired-temp').checked)"/>
            Desired Temp.
        </label>
        <label style="margin-left: .2em;">
            <input checked id='show-outside-temp' type="checkbox" class="btn btn-primary"
                onclick="thermoClient.showOutsideTemp(document.querySelector('#show-outside-temp').checked)"/>
            Outside Temp.
        </label>
    </div>
    <div id='visualization'></div>
    <div>
        <div id='zoom-group' class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Zoom</span>
          </div>
            <input type=number id='zoom' class="form-control" aria-label="Zoom" onchange="thermoClient.zoom()"/>
        </div>
        <div id='schedule-group' class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Schedule</span>
          </div>
          <textarea id='schedule' class="form-control" aria-label="Schedule" rows="5" onchange="thermoClient.schedule()">{{ schedule }}</textarea>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<script src="static/app.js"></script>
</body>
</html>
