<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="static/bootstrap.min.css" rel="stylesheet"/>
    <title>Smart Thermostat</title>
    <style>
        #visualization {
            height: 250px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <h2>Smart Thermostat</h2>
        <h3><span id="temperature"></span> °C, <span id="humidity"></span> % humidity, <span id="outside-temperature"></span> °C outside</h3>
        <h3>Desired: <span id="display-desired"></span> °C</h3>
        <div class="col-sm">
            <div class="form-group">
                <input id="desired" class='form-control' type="range" value='21'
                       min='15' max='25' step="0.1" onChange="client.setDesired(this.value);">
            </div>
        </div>
        <div id='visualization' class="col-sm"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="static/client.js"></script>
<script src="static/sketch.js"></script>
</body>
</html>
